# Standard Go binaries and objects
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.test
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_obj
_test
*.[568]g
*.[568]l
*.a
*.o

# Common IDEs & Editors
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
Desktop.ini
